name: Release to PyPI

on:
  workflow_call:
    inputs:
      environment:
        type: string
        description: The GitHub environment to use
        required: false
        default: pypi

jobs:
  release:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
    steps:
      - name: Repository checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0

      - name: Install build tool
        run: |
          pip install build

      - name: Build packages
        run: |
          python -m build

      - name: Publish packges to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
